<!doctype html>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Child's Reward - system zadanie-nagroda dla dzieci</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="black" data-image="/img/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
           <div class="logo">
			<img src="/img/logo_m.png">
                <a href="/dashboard" class="simple-text">
                    Child's Reward
                </a>
                <br/>
                <div class="simple-text" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">WYBIERZ DZIECKO<br />
                    <div style="margin-top:5px;">
                        <form method="post" action="/dashboard/profile">
                            <select class="form-control" name="selectProfile" id="selectProfile">
                                {{#if children}}
                                    {{#each children}}
                                        <option value="{{_id}}" class="select-profile">{{name}}</option>
                                    {{/each}}
                                {{/if}}
                            </select>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
               </div>
				
            </div>
            <ul class="nav">
			
                <li>
                    <a href="/dashboard/addChild">
                        <i class="pe-7s-note2"></i>
                        <p>+ DODAJ DZIECKO</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/profile">
                        <i class="pe-7s-medal"></i>
                        <p>ZADANIA DZIECKA</p>
                    </a>
                </li>
				<li>
                    <a href="/dashboard/achievments">
                        <i class="pe-7s-graph1"></i>
                        <p>STATYSTYKI DZIECKA</p>
                    </a>
                </li>
                
				<li>
                    <a href="/dashboard/logout">
                        <i class="pe-7s-power"></i>
                        <p><font color="#FF4500">WYLOGUJ SIĘ</font></p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

        {{{body}}}

    
</div>

</body>

    <!--   Core JS Files   -->
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/js/chartist.min.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/js/light-bootstrap-dashboard.js"></script>
    <script src="/js/main.js"></script>

</html>