<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Włącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NAGRODY</a>
                </div>

                <div class="collapse navbar-collapse">
                   
                </div>
            </div>
        </nav>
		
			<div class="content">
            <div class="container-fluid">
			<div class="row">
                {{#if prizesRender}}
                                                {{#each prizesRender}}
                                                    <div class='col-sm-3'>
    <div class="panel panel-default">
      <img src="/img/reward_photos/{{imgurl}}" class="img-responsive">
	 <div class="panel-heading">
        <h4 class='panel-title text-center'>{{name}}</h4>
      </div>
      <div class="panel-body">
        <p>
          {{desc}}
        </p>
      </div>
    </div>
  </div>
                                                {{/each}}
                                            {{/if}}
			
			</div>
            </div>
        </div>
		
    </div>