    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Włącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TWOJE KONTO</a>
                </div>

                <div class="collapse navbar-collapse">
                   
                </div>
                
            </div>
        </nav>
        <h2>COBRA FORCE - NOTKA DLA WAS</h2>
        <h4>---TUTAJ OGOLNIE PASOWALOBY ZROBIC JAKIS EKRAN POWITALNY DLA RODZICA---</h4>
        <p>TERA NOTKA:<br>NA PEWNO MUSZE DODAC POLA W EDYCJI ZADAN, ZROBIC SPRAWDZENIE CZY DATA NOWOUTWORZONEGO ZADANIA JEST MNIEJSZA OD DZISIEJSZEJ DATY, DODAC PLACEHOLDERY NA IMIONA DZIECI W KAZDEJ ZAKLADCE<br>
            TERAZ PO PROSTU JAK ZROBICIE SUBMIT Z IMIENIEM DZIECKA PO LEWEJ STRONIE TO WSZYSTKIE ZAKLADKI DOTYCZA TEGO WLASNIE DZIECKA. W STATYSTYKACH DODALEM NA RAZIE LISTE ACHIEVMENTOW ZDOBYTYCH PRZEZ DZIECKO
        MUSZE TAM TEZ DODAC ILOSC PUNKTOW ZDOBYTA PRZEZ DZIECKO. TEZ WYJEBAC TE CHECKBOXY Z LISTY ZADAN. JESLI ZADANIE WYSWIETLA SIE TO ZNACZY ZE JEST AKTYWNE.<br>
        ZADANIA JEDNORAZOWE ZAWSZE SA AKTYWNE. POP PROSTU SA USUWANE JESLI: RODZIC JE USUNIE HEHE, ZATWIERDZI (ZADANIE ZROBIONE TO SPIERDALA), ALBO UPLYNIE DEADLINE. ZADANIE CYKLICZNE MOZE BYC NIEKATYWNE JESLI
        RODZIC JE ZATWIERDZI I NIE MINIE JEGO PIERWSZY DEADLINE. TZN NP MAMY ZADANIE CYKLICZNE Z PIERWSZYM DEADLINEM NA 12.06 I JEST SPRAWDZANIE CO TYDZIEN, JEGO NASTEPNY DEADLINE TO 19.06, JEZELI 
        DZIECKO ZROBI ZADANIE TO JEGO STATUS JEST USTWIANY NA NIEAKTYWNY, ZADANIE ZNIKA Z LISTY, PO 12.06 ZNOWU SIE POJAWIA Z NOWYM DEADLINEM: 19.06. JAK ROBICIE ZADANIE, TO TEN TYP NA DOLE TRZEBA ZAZNACZAC
        TYLKO WTEDY JAK SIE ZAZNACZYLO ZE ZADANIE JEST CYKLICZNE. NIE WIEM CO TAM JESZCZE TRZEBA DODAC, PEWNIE W CHUJ RZECZY ZEBY SIE W TYM POLAPAC JAKO UZYTKOWNIK. JAKBY CO TO PISZCIE NA FB CO O TYM SADZICIE</p>
</div>