<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Child's Reward - system zadanie-nagroda dla dzieci</title>
	
	<link href="/css/login.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/heroic-features.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.ico">

</head>

<body class="bg-image">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Features -->
        <div class="row text-center">
			<div class="col-md-12 col-sm-12 col-xs-12">
                            <div><img class="center-block" style="margin-top:20px;" src="/img/logo_m.png"></div>
							<br />
							<p class="text-center h1 text-white" style="color:#fff">CHILD'S REWARD</p>
							<br />
							</div>
							
			<a href="/user">
                <div class="col-md-6 col-sm-12 hero-feature">
                    <div class="thumbnail">
                        <img src="/img/parents.png" alt="">
                        <div class="caption">
                            <h3>RODZIC</h3>
                        </div>
                    </div>
                </div>
            </a>
            
            <a href="/child">
                <div class="col-md-6 col-sm-12 hero-feature">
                    <div class="thumbnail">
                        <img src="/img/kids.jpg" alt="">
                        <div class="caption">
                            <h3>DZIECKO</h3>
                        </div>
                    </div>
                </div>  
            </a>

        </div>
        <!-- /.row -->

       
      

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
